.modal-backdrop{
    z-index: 19;
}

.btn-mdenunciar {
    background: none;
    border: none;
    padding: 0;
    position: fixed;
    bottom: 5%;
    right: 10%;
}

.btn-mdenunciar:hover{
    background: none;
    border: none;
    padding: 0;
}